easy_admin:
    site_name: 'Montessori Ressources'
    design:
      menu:
        - { label: 'Admin' }
        - { entity: 'User', icon: 'user' }
        - { label: 'Content' }
        - { entity: 'Nomenclature', icon: 'square' }
        - { entity: 'Card', icon: 'square' }
        - { entity: 'Image', icon: 'image' }
        - { entity: 'ImageCategory', icon: 'image' }
        - { label: 'Links' }
        - { label: 'Home', route: 'home', icon: 'home' }
    entities:
      Image:
        class: App\Entity\Image
        list:
          fields:
            - { property: 'name', type: 'image', base_path: '%app.path.images%' }
            - category
        show:
          fields:
            - { property: 'name', type: 'image', base_path: '%app.path.images%' }
            - category
        form:
          fields:
            - { property: 'file', type: 'vich_image' }
            - category

      ImageCategory:
        class: App\Entity\ImageCategory

      Card:
        class: App\Entity\Card

      Nomenclature:
        class: App\Entity\Nomenclature
        list:
          fields:
            - id
            - createdAt
            - createdBy
            - name
            - statusName
            - cards
            - language
        form:
          fields:
            - createdAt
            - createdBy
            - name
            - status
            - cards
            - language
      User:
        class: App\Entity\User
        list:
          fields:
            - username
            - email
            - facebookId
            - googleId
            - enabled
            - lastLogin
