easy_admin:
    site_name: 'Montessori Ressources'
    design:
      menu:
        - { label: 'Admin' }
        - { entity: 'User', icon: 'user' }
        - { label: 'Content' }
        - { entity: 'Nomenclature', icon: 'square' }
        - { entity: 'Card', icon: 'square' }
        - { entity: 'Image', icon: 'image' }
        - { label: 'Links' }
        - { label: 'Home', route: 'home', icon: 'home' }
    entities:
      Image:
        class: App\Entity\Image
        # ...
        list:
          fields:
            - { property: 'name', type: 'image', base_path: '%app.path.images%' }
        # ...
        show:
          fields:
            - { property: 'name', type: 'image', base_path: '%app.path.images%' }
        form:
          fields:
            - { property: 'file', type: 'vich_image' }

      Card:
        class: App\Entity\Card
      Nomenclature:
        class: App\Entity\Nomenclature
#        # List the entity class name you want to manage
#        - App\Entity\Product
#        - App\Entity\Category
#        - App\Entity\User
      User:
        class: App\Entity\User
        list:
          fields:
            - username
            - email
            - enabled
            - lastLogin
