/* Nomenclature cards */
.card {
  border:1px solid #777;
  padding: 1.5rem;
}

.thumbnails {
  width: 310px;
}

.nomenclature-label {
  margin-top: -30px;
  margin-right: -10px;
}

.nomenclature-image-count {
  position: absolute;
  margin-left: 260px;
  z-index: 1;
  margin-top: 260px;
}

.thumbnail {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: inline-block;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

/********************************************/
/* Card uploader                            */
/********************************************/

.drag-zone {
  border:5px dotted #ccc;
  font-family: Arial, Helvetica, sans-serif;  
  padding: 0;
  margin: 24px 24px 24px 0;
}

.drag-zone .file-label {
  padding: 48px;
  text-align: center;
}

.drag-zone .icon {
  background-color: #fff;
  color:#ccc;
}

.drag-zone .main-text {
  font-size: 1.5rem;
}

.drag-zone .small-text {
  font-size: 0.8rem;
}

/* Highlight Drag zone*/
.drag-zone.highlight {
  border-color: #000
}

.drag-zone.highlight .icon {
  color: #000
}

.control input[type='file'] {
  /*display:none;*/
} 

.preview-box .preview {
  border:2px solid #000;
  width:200px;
  height:200px;
}