<div class="column buttons">
  <a class="button" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
    <span class="icon">
      <i class="fab fa-facebook"></i>
    </span>
    <span>Login with Facebook</span>
  </a><br />
  <a class="button" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
    <span class="icon">
      <i class="fab fa-google"></i>
    </span>
    <span>Login with Google</span>
  </a>
</div>
