<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PDF</title>
    </head>
    <body>
            {{ form_start(formOptions) }}

                {{ form_row(formOptions.format) }}

            {{ form_end(formOptions) }}

    </body>
</html>
