{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ 'edit_nomenclature' | trans}}</h1>
        {% include 'card/form.html.twig' %}
    </div>
</section>
{% endblock %}
