{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Nomenclature
    </h1>
    <div class="columns is-centered">
      <div class="column is-half">
        <input id="search" class="input is-large" type="text" placeholder="Search">
      </div>
    </div>
  </div>
</section>


<section class="section">
<div class="container">
  <div id="entitiesNav" class="columns is-multiline">
    <!-- Nomenclatures will come here via Ajax searching -->
  </div>
</div>
</section>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        var searchRequest = null;
        var timeout = null;

        // the search function
        var search = () => {
          var value = $("#search").val();

          // Clear the timeout if it has already been set.
          // This will prevent the previous task from executing
          // if it has been less than <MILLISECONDS>
          clearTimeout(timeout);
          var entitySelector = $("#entitiesNav").html('<div class="loader"></div>');
          // Make a new timeout set to go off in 500ms
          timeout = setTimeout(function () {
              console.log('Input Value:', value);
              var entitySelector = $("#entitiesNav").html('');
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('card_search') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){

                      var result = JSON.parse(msg);
                      $.each(result, function(key, arr) {
                          $.each(arr, function(id, value) {
                              if (key == 'entities') {
                                  if (id != 'error') {
                                    $.ajax({
                                        type: "GET",
                                        url: "{{ path('nomenclature_show') }}",
                                        data: {
                                            'q' : id
                                        },
                                        success: function(msg){
                                          entitySelector.append(msg);
                                         }
                                    });
                                  } else {
                                      entitySelector.append('<div class="notification">'+value+'</li>');
                                  }
                              }
                          });
                      });
                     }
                });
          }, 500);
        };

        // setup the search on typing in search box
        $("#search").keyup(search);

        // call search once at startup
        search();
    });
</script>
{% endblock %}
