{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Nomenclature
    </h1>
    <div class="columns is-centered">
      <div class="column is-half">
        <input id="search" class="input is-large" type="text" placeholder="Search">
      </div>
    </div>
  </div>
</section>


<section class="section">
<div class="container">
  <div id="entitiesNav" class="columns is-multiline">
  {% for nomenclature in nomenclatures %}
  {{ render(controller(
      'App\\Controller\\CardController::show',
      { 'id': nomenclature.id }
  )) }}
  {% endfor %}
  </div>
</div>
</section>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        var searchRequest = null;
        $("#search").keyup(function() {
            var minlength = 3;
            var that = this;
            var value = $(this).val();
            var entitySelector = $("#entitiesNav").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('card_search') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        //we need to check if the value is the same
                        if (value==$(that).val()) {
                            var result = JSON.parse(msg);
                            $.each(result, function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key == 'entities') {
                                        if (id != 'error') {
                                          $.ajax({
                                              type: "GET",
                                              url: "{{ path('nomenclature_show') }}",
                                              data: {
                                                  'q' : id
                                              },
                                              success: function(msg){
                                                entitySelector.append(msg);
                                               }
                                          });
                                        } else {
                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                        }
                                    }
                                });
                            });
                        }
                     }
                });
            }
        });
    });
</script>
{% endblock %}
