{% extends 'base.html.twig' %}

{% block hero %}
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        MONTESSORI RESSOURCES
      </h1>
      <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </h2>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Nomenclature
    </h1>
    <div class="columns is-centered">
      <div class="column is-half">
        <input id="search" class="input is-large" type="text" placeholder="Search">
      </div>
    </div>
  </div>
</section>


<section class="section">
<div class="container">
  <div id="entitiesNav" class="columns is-multiline">
  {% for nomenclature in nomenclatures %}
  {{ render(controller(
      'App\\Controller\\CardController::show',
      { 'id': nomenclature.id }
  )) }}
  {% endfor %}
  </div>
</div>
</section>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        var searchRequest = null;
        $("#search").keyup(function() {
            var minlength = 3;
            var that = this;
            var value = $(this).val();
            var entitySelector = $("#entitiesNav").html('');
            if (value.length >= minlength ) {
                if (searchRequest != null)
                    searchRequest.abort();
                searchRequest = $.ajax({
                    type: "GET",
                    url: "{{ path('card_search') }}",
                    data: {
                        'q' : value
                    },
                    dataType: "text",
                    success: function(msg){
                        //we need to check if the value is the same
                        if (value==$(that).val()) {
                            var result = JSON.parse(msg);
                            $.each(result, function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key == 'entities') {
                                        if (id != 'error') {
                                          $.ajax({
                                              type: "GET",
                                              url: "{{ path('nomenclature_show') }}",
                                              data: {
                                                  'q' : id
                                              },
                                              success: function(msg){
                                                entitySelector.append(msg);
                                               }
                                          });
                                        } else {
                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                        }
                                    }
                                });
                            });
                        }
                     }
                });
            }
        });
    });
</script>
{% endblock %}
