{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">{% trans %}Create a Nomenclature{% endtrans %}</h1>
        <p>{% trans %}Complete the form below with all nomenclature.{% endtrans %}</p>
        {% include 'card/form.html.twig' %}
    </div>
</section>
{% endblock %}
