{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">{{'create_nomenclature' | trans}}</h1>
        <p>{{'create_nomenclature_description' | trans}}</p>
        {% include 'card/form.html.twig' %}
    </div>
</section>
{% endblock %}
