{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/dropzone.css">
{% endblock %}

{% block javascripts %}
<script src="/js/dropzone.js"></script>
<script type="text/javascript">
// Disabling autoDiscover, otherwise Dropzone will try to attach twice.
Dropzone.autoDiscover = false;
// or disable for specific dropzone:
// Dropzone.options.myDropzone = false;

$(function() {
  // Now that the DOM is fully loaded, create the dropzone, and setup the
  // event listeners


  var myDropzone = new Dropzone(".my-dropzone", {
    acceptFiles: "image/*", // only accept images
  });
  var images = []
  myDropzone.on("complete", function(file) {
    data = JSON.parse(file.xhr.response)
    //console.log(data.id)
    images.push(data.id)

  });
  myDropzone.on("queuecomplete", function(file) {
    console.log(images);
    // run the assemble script
    $.ajax({
       url : '{{path('ajax_image_assemble')}}', // La ressource ciblée
       type : 'GET', // Le type de la requête HTTP.
       dataType: 'text',
       data : {images: images},
       success: (result) => {
         data = JSON.parse(result)
         $(location).attr('href', '/nomenclature/'+data.nomenclature+'/edit')

         //alert("success !")
       }
    });
    myDropzone.removeAllFiles();
    images = []
    /* Maybe display some more file information on your page */
  });
});
</script>
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Create a Nomenclature</h1>
        <div class="dropzone my-dropzone" id="form_snippet_image" action="{{path('ajax_image_send')}}">
        </div>
    </div>
</section>
{% endblock %}
