{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Create a Nomenclature</h1>
        <p>Complete the form below with all nomenclature.</p>
        {% include 'card/form.html.twig' %}
    </div>
</section>
{% endblock %}
