<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style  type="text/css">
          @import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
          @page { margin: 2cm;}
          html {
            font-family: 'Patrick Hand', cursive;
            font-size: 34px;;
          }
          table {
            width: 100%;
          }
          td {
            text-align: center;
          }
          img {
            width: 14cm;
          }
          footer {
            position: fixed;
            bottom: -60px;
            left: 0px;
            right: 0px;
            height: 50px;

            /** Extra personal styles **/
            border: 1px solid #03a9f4;
            text-align: center;
            line-height: 30px;
          }
        </style>
    </head>
    <body>
      <footer>
        {% trans %}Cards downloaded by{% endtrans %} ____
      </footer>
      <main>
        {% for card in nomenclature.cards %}
        <table>
          <tr>
            <td>
              {% if env == 'int' %}
              <img src="{{url('image', {'id': card.image.id})}}" alt="Image">
              {% else %}
              <img src="uploads/images/{{card.image.name}}" alt="Image">
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              {{card.label}}
            </td>
          </tr>
        </table>
        {% if not loop.last %}
          <div style="page-break-after: always;"></div>
        {% endif %}
        {% endfor %}

      </main>
    </body>
</html>
