{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Upload classified card</h1>
        <p>Describe rules to upload a classified card</p>
        {{ form_start(formNomenclature) }}

            <ul class="cards" data-prototype="{{ form_widget(formNomenclature.cards.vars.prototype)|e('html_attr') }}">

            </ul>
        {{ form_end(formNomenclature) }}
    </div>
</section>
{% endblock %}
{% block javascripts %}
<script>
    var $collectionHolder;
    // setup an "add an image" button
    var $addCardButton = $('<button type="button" class="add_card_link">Add a new card</button>');
    var $newLinkLi = $('<li></li>').append($addCardButton);
    jQuery(document).ready(function() {
        $collectionHolder = $('ul.cards');
        $collectionHolder.append($newLinkLi);
        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);
        $addCardButton.on('click', function(e) {
            addImageForm($collectionHolder, $newLinkLi);
        });
    });
    function addImageForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');
        // get the new index
        var index = $collectionHolder.data('index');
        var newForm = prototype;
        newForm = newForm.replace(/__name__label__/g, index);
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);
        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
    }
</script>
{% endblock %}